NEXT_PUBLIC_API_BASE_URL=https://api.sansekai.my.id/api
NEXT_PUBLIC_CRYPTO_SECRET=Sansekai-SekaiDrama

# Authentication - format: username:password,username2:password2
AUTH_USERS=admin:admin123,nuno:nuno123,lexy:123,bubu:123
AUTH_SECRET=kucingkampung
